# SYSTEM
.DS_Store
Thumbs.db

**/node_modules
**/vendor

# CMS
.env
backend/storage
backend/web/cpresources
backend/web/files
backend/web/dist

*.sql
**/*.sql
*.sql.gz
**/*.sql.gz

*.log
**/*.log

# ASTRO

# build output
dist/
**/dist/

.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/.idea
backend/web/uploads

**/*.swn
**/*.swo
**/*.swp